/* Define um estilo para o título */

h1 {
    color: #333;
    font-size: 32px;
    text-align: center;
    margin-top: 50px;
}


/* Define um estilo para o formulário */

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}


/* Define um estilo para o rótulo */

label {
    display: block;
    margin-bottom: 10px;
}


/* Define um estilo para o campo de entrada */

input,
select {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    font-size: 16px;
}


/* Define um estilo para o botão */

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}


/* Define um estilo para o botão de adicionar pessoa */

#geradorForm button {
    margin-top: 20px;
}


/* Define um estilo para a lista de pares */

#paresGerados {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 400px;
    margin: 0 auto;
}


/* Define um estilo para os itens da lista de pares */

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}